body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #3498db;
}

p {
    color: #333;
    margin-bottom: 10px;
}

input {
    width: 100%;
    max-width: 150px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #3498db;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

#resultText {
    font-weight: bold;
    margin-top: 20px;
    color: #e74c3c;
    font-size: 1.2em;
}

#resultTex {
    font-weight: bold;
    margin-top: 20px;
    color: #3ce753;
    font-size: 1.2em;
}

#attemptsText {
    color: #888;
    margin-top: 10px;
}

.instructions {
    font-style: italic;
    color: #888;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
        margin-top:10px ;
    }

    #resultText {
        font-size: 1.1em;
    }
    #resultTex {
        font-size: 1.1em;
    }

    button {
        margin-top: 20px;
    }
}
